.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 0;
}
.pagination .page-item {
  margin: 0 8px;
}
ul.MuiPagination-ul {
  display: flex;
  background-color: rgba(0, 0, 0, 0.498);
  margin-top: 2rem;
  justify-content: center;
}

ul.MuiPagination-ul li button {
  font-weight: 900;
  font-size: 10px;
}

.Mui-selected {
  background-color: #f6efef;
  color: #ffffff;
}

.MuiPaginationItem-root:not(.Mui-selected) {
  color: rgb(236 29 35);
}
@media (min-width: 750px) {
  ul.MuiPagination-ul li button {
    font-size: 17px;
  }
}
